{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_content %}
    <div class="container">
        <h1>Bienvenue</h1>
        
        <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/EVQS0RQqT1I" title="ESPRIT Showreel 2021" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}
